@media (max-width: 767px){
   .banner-section {padding: 20px 10px;}
   .banner-title h2 {font-size: 31px;}
   .banner-title p {font-size: 19px;}
   .subscription-title h4 {font-size: 18px;}
   .subscription-title p {font-size: 22px;}
   .btn-lg {background-color: #6aa015 !important; border-color: #6aa015;}
   .btn-lg:hover{background-color: #58890c !important; border-color: #58890c;}
   .content-col h3 {font-size: 24px;}
   .content-col p {font-size: 16px;}
   .content-title h3 {font-size: 20px;}
   .content-title h1 {font-size: 24px;}
   .intro-section{padding: 80px 10px;}
   .portfolio-section {padding: 80px 20px;}
   .portfolio-title h1 {font-size: 24px;}
   .videos_info {padding-top: 20px; padding-bottom: 20px}
   .reverse2{ display:flex; flex-direction:column-reverse; }
   .videos_info h4 {font-size: 22px;}
   .videos_info p {font-size: 14px;}
   .multicolumndata {padding: 80px 10px;}
   .moreinfo-section{padding: 80px 20px}
   .moreinfo-title {padding-bottom: 0px;}
   .moreinfo-title h1 {font-size: 24px;}
   .moreinfo-title p {font-size: 18px;}
   .moreinfo {margin: 20px;}
   .about-info img {width: 15%;}
   .moreinfo h2 {font-size: 22px;}
   .moreinfo p {font-size: 14px;}
   .blocklink h4 {font-size: 22px;}
   .testimonials-section{padding: 20px 15px;}
   .content-col-1{padding-top: 10px;}
   .Grey {font-size: 20px;}
   .primary {font-size: 24px;}
   .secondary {font-size: 18px; padding: 10px 0;}
   .feature-resource img {display: none;}
   .feature-section h1 {font-size: 24px;}
   .feature-box h2 {font-size: 22px;}
   .feature-box p {font-size: 14px;}
   .feature-box a {font-size: 16px;}
   .blogs-section{ padding:80px 10px;}
   .blogs-section h1 {font-size: 24px;}
   .blog-img img {display: none;}
   .blog-posts {height: auto}
   .blog-posts h2 {font-size: 22px;}
   .blog-posts p {font-size: 14px;}
   .blog-posts a {font-size: 16px;}
   .article-section {padding: 80px 10px;}
   .article-info {margin: 15px 5px;padding: 18px;}
   .article-section h1 {font-size: 24px;}
   .article-describtion h3 {font-size: 22px; padding: 10px 0;}
   .article-describtion p {font-size: 14px;}
   .article-describtion a {font-size: 16px;}
   .article-icons img {padding-bottom: 0px; margin-left: -10px;}
   .webinar-section{ padding: 80px 10px; }
   .webinar-section h1 {font-size: 24px;}
   .webinar-describtion h3 {font-size: 22px;padding-left: 0;}
   .webinar-describtion a {font-size: 16px;}
   .tab-width{width: 90%;margin: 0 auto;}
   .campaignwebinarform {padding: 80px 10px;}
   .form-title h1 {font-size: 24px;}
   .form-title p {font-size: 20px;}
   .small {font-size: 16px; padding: 20px 0;}
   .btn-reg {font-size: 16px;}
}

@media (max-width: 320px){
   .multicolumndata {
    padding: 80px 15px;}
   .content-title h1 {font-size: 22px;}
   .primary {font-size: 21px;}
   .article-info {margin: 15px 5px;padding: 10px;}
   .campaignwebinarform {padding: 80px 30px;}
   .webinar-section h1 {font-size: 22px;}
   .webinar-info {margin: 15px 5px;padding: 10px;}